<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146635872-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146635872-1');
    </script>-->
    <title>{{ configs.title }}</title>
    <link rel="icon" type="image/png"
          href="url.to.icon.ico">
    <link type="text/css" rel="stylesheet" href="./static/main.css"/>
    <!--<meta name="google-site-verification" content="U6vzg6_XZ4aLFUQSw7xIysB7E3WtARBQnKU_gbCQWz4" />-->
    <meta charset="utf-8" name="description" content="Here is a description of the webpage..."/>
    <meta name="author" content="Someone">
    <meta name="keywords" content="keyword1">
</head>

<body>
<div>
    <h3>{{ configs.title }}</h3>
    {{ configs.table }}
</div>
</body>
</html>