name: PR check for JSON

on:
  pull_request:
     branches:
       - main
     paths:
       - 'data/websites.json'

jobs:
  checking_json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Micromamba ${{ matrix.python-version }}
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          init-shell: bash

      - name: Tests
        shell: bash -l {0}
        run: python -m pytest -rxs tests
